{% extends "pages/index.html" %}
{% load static %}
{% block content %}
<div class="container my-4">

        <div class="row">
            <div class="col-md-12">
                
                    <img src="{% static 'img/ongoing_events/IOT.jpg' %}" class='img-fluid'>
                
                
            </div>
            <h4>&nbsp</h4>
            <div class="col-md-12">
                <h2 class="font-weight-bold">Internet of Things Systems: from Sensor and Embedded Computing</h2>
                <p>IEEE Nepal Sub-section is going to organize a webinar on "Internet of Things Systems: from Sensor and Embedded Computing to Data Analytics Paradigm. Mr. Rajeev Kanth, D.Sc. (Tech.) & Docent Adjunct Professor, University of Turku Finland Senior Lecturer (Assoc. Prof.), Savonia University of Applied Sciences will be our speaker for this webinar.
<br>
                    The webinar is supported by Sagarmatha Engineering College and Nepal Research and Education Network.
                    <br>
                    Date: August 05, 2020<br>
                    Time: 13:00 pm - 14:30 pm<br>
                    
                    To join the webinar, please click on the link below to register for free:<br>
                    </p>
                    <a href='https://nren.zoom.us/webinar/register/WN_oL_N1BnASDmF5UKPqQYOOQ' id='link'> Here is the link</a>

            </div>
        </div>

    </div>

  {% endblock %}

    